
body {
    font-family: Sans-Serif;
}

a, a:visited {
    color: inherit;
}

#container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

#active {
    display: none;
}

#passive {
    display: inline;
}

.connection {
    flex: 0 0 4em;
}

#zoomlevels {
    flex: 1 0 0;
    font-size: 2em;
}

#zoomlevels a:link {
    color: #626262;
    background-color: white;
    text-decoration: none;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#zoomlevels a:visited {
    color: #626262;
    background-color: white;
    text-decoration: none;
}

#zoomlevels a:hover {
    color: white;
    background-color: #626262;
    text-decoration: none;
}


.chart {
    flex: 0 0 45%;
    margin: auto;
}
